@media screen and (min-width: 32em) {
    iframe {display: inline;
        max-width: 300px;
        max-height: 200px;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    
    .navbar ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        margin: 0;
    }

    #mode {
        top: 1rem;
        right: 1rem;
    }
    #hamMenu {
		display: none; /* hide hamburger button */
	}

    /* Main Layout for Larger Screens */
    #content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        gap: 20px;
    }

    /* Info Group: Display Side by Side */
    .info-group {
        display: flex;
        flex-direction: row; /* Side by side layout */
        gap: 15px;
    }

    .info-group .card {
        flex: 1; /* Allow even distribution */
    }

    /* Spotlight Group: Display in a Vertical Stack */
    .spotlight-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .thank-you-container {
        padding: 20px;
    }


    .thank-you-message, .flavor-text, .next-steps {
        font-size: 1rem;
    }

    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }
    #meminfo {
        display: block;
    }
    .join-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}