@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Jersey+15&family=Labrada&family=Oswald:wght@300&family=Zen+Maru+Gothic&display=swap');

/* html Selectors */


a {
        text-decoration: none;
}
body {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}
footer {
        background-color: #772F1A;
        margin-top: auto;
        text-align: center;
}
footer p {
        color: #EEC170;
}
h1 {
        display: inline;
        font-family: Oswald, cursive;
}
h2 {
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #F2A65A;
        text-align: center;
}
header {
        text-align: center;
        padding: 2%;
        background-color: #F2A65A;
}
li {
        /* display: inline; */
        list-style-type: none;
}

main {
        margin: 2.5%;
        height: auto;
        flex: 1;
}

ul {
        display: flex;
        flex-direction: column;
        
}


/* class selectors */
section.card {
        border-style: ridge;
        border-right-style: groove;
        border-radius: 5px;
        margin-top: 20px;
        
}
.head {
        /* padding-left: 50px; */
        padding-right: 50px;
}

/*  id selectors */

#menu {
        text-align: center;
        padding: 1%;
        margin: 0%;
        background-color: #772F1A;
        
}
#menu a {
        font-family: Oswald, cursive;
        color: #EEC170;
        font-size: x-large;
}
